.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 10% 0;
  background: rebeccapurple;

  padding: 0;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.heading {
  text-align: center;
}

.images-group {
  display: flex;
  justify-content: space-around;
}
.images-group1{
 display:flex;
 flex-direction: column;
}
.images-group img {
  width: 20vw;
  object-fit: contain;
  object-position: center;

}

.divshow {
display: block;
}


.divhide {
display: none;
}